<div class="container" *ngIf="cartProducts.length > 0; else empty">
    <h2 class="text-center">Your orders</h2>
    <table>
        <tbody>
            <tr *ngFor="let cartProduct of cartProducts; let i = index">
                <td>{{cartProduct.type}} </td>
                <td>{{cartProduct.title}} </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteOrderProduct(cartProduct)">Delete</button>
                </td> 
                <td>{{cartProduct.price}} $</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <b class="right">Total : {{totalPrice}} $</b>

    <h2 class="text-center">Delivery</h2>

    <div *ngIf="added" class="text-center text-danger">
        {{added}}
    </div>

    <form [formGroup]="form"  (ngSubmit)="onSubmit()">   
        <div class="form-control">
            <label for="name">Name</label>
            <input 
                id="name" 
                type="name" 
                FormControl="name" 
                formControlName="name"
            >
                <div *ngIf="
                name.touched && 
                name.invalid" 
                class="validation">
                    <small *ngIf="name.errors.required">Enter your name</small>
                </div>
        </div>
        <div class="form-control">
            <label for="phone">Phone</label>
            <input 
                id="phone" 
                type="phone" 
                FormControl="phone" 
                formControlName="phone"
            >
            <div *ngIf="
            phone.touched && 
            phone.invalid" 
            class="validation">
                <small *ngIf="phone.errors.required">Enter your phone</small>
            </div>
        </div>
        <div class="form-control">
            <label for="address">Address</label>
            <input 
                id="address" 
                type="address" 
                FormControl="address" 
                formControlName="address"
            >
            <div *ngIf="
                address.touched && 
                address.invalid" 
                class="validation">
                    <small *ngIf="address.errors.required">Enter your address</small>
            </div>
        </div>

        <div class="form-control">
            <label for="payment">Payment method</label>
            <select formControlName="payment">
                <option value="cash">Cash</option>
                <option value="card">Card</option>
            </select>
        </div>
        <button 
            type="submit" 
            class="btn btn-primary btn-block"
            [disabled]="form.invalid || submitted">
            Add Product
        </button>
    </form>
</div>


<ng-template #empty>
    <h2 class="text-center"> Cart is Empty.....</h2>
</ng-template>