<nav class="navbar bg-dark">
    <h1>Online Shop</h1>
    <ul>
        <li routerLinkActive="active" >
            <a (click)="setType('phone')">Phone</a>
        </li>
        <li routerLinkActive="active" >
            <a (click)="setType('tablet')">Tablet</a>
        </li>
        <li routerLinkActive="active" >
            <a (click)="setType('laptop')">Laptop</a>
        </li>
        <li routerLinkActive="active" >
            <a (click)="setType('Cart')" [routerLink]="['/cart']">Cart</a>
        </li>
        <li routerLinkActive="active" >
            <a  [routerLink]="['/admin','login']">Login</a>
        </li>
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>