<div *ngIf="products.length; else loading" >
    <h2 class="text-center"> Dashboard product</h2>

    <div class="form-control">
        <input type="text" placeholder="Find a product..." [(ngModel)]="productName">
    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Date of create</th>
                <th>Open</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products | search : productName; let idx = index">
                <td>{{idx + 1}}</td>
                <td>{{product.title}}</td>
                <td>{{product.price}} $</td>
                <td>{{product.date | date : 'short'}}</td>
                <td>
                    <button class="btn btn-dark" [routerLink]="['/admin','product', product.id, 'edit']">Open</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="delete(product.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #loading>
    <p class="text-center">loading....</p>
</ng-template>