<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Login as Admin</h2>

    <div class="form-control">
        <label for="email">Email</label>
        <input 
            id="email" 
            type="email" 
            FormControl="email" 
            formControlName="email"
        >
        <div *ngIf="
            form.get('email').touched && 
            form.get('email').invalid" 
            class="validation">
                <small *ngIf="email.errors.required">Enter email</small>
                <small *ngIf="email.errors.email">Enter valid email</small>
        </div>
    </div>
    <div class="form-control">
        <label for="password">Password</label>
        <input 
            id="password" 
            type="password" 
            FormControl="password"
            formControlName="password"
        >
        <div *ngIf="
            form.get('password').touched && 
            form.get('password').invalid" 
            class="validation">
            <small *ngIf="password.errors.minlength">
                Password must be at least 6 characters.
            </small>
            <small *ngIf="password.errors.required">
                Enter password
            </small>
        </div>
    </div>
    <button 
        type="submit" 
        class="btn btn-primary btn-block"
        [disabled]="form.invalid" 
    >
        Sing in
    </button>
</form>