<div class="text-center">
    <h2>{{product.title}}</h2>
    <div class="flex-center">
        <quill-view-html [content]="product.photo"></quill-view-html>
    </div>
    <h2>Price: {{product.price}} $</h2>

    <button [routerLink]="['/product', product.id]" class="btn btn-dark">Open</button>
    <button [routerLink]="['/cart']" class="btn btn-dark" (click)="addToCart(product)">add to cart</button>
</div>