<div *ngIf="orders.length; else noOrders" >
    <h2 class="text-center"> Table of Orders</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Phone</th>
                <th>Name</th>
                <th>Address</th>
                <th>Product</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{order.date | date:'medium'}}</td>
                <td>{{order.phone}}</td>
                <td>{{order.name}}</td>
                <td>{{order.address}}</td>
                <td>
                    <div *ngFor="let product of order.orders">
                        <b>{{product.title}}</b>
                    </div>
                </td>
                <td>
                    <div class="text-center">{{order.price}} $</div>
                    <div class="text-center">{{order.payment}}</div>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="delete(order.id)">Completed</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #noOrders>
    <h2 class="text-center">No orders.... PLS  buy advertising</h2>
</ng-template>