<form [formGroup]="form"  (ngSubmit)="onSubmit()">
    <h2 class="text-center">Add product</h2>

    <div class="form-control">
        <label for="type">Type</label>
        <select formControlName="type">
            <option value={{PRODUCTS_TYPE.phone}}>{{PRODUCTS_TYPE.phone | titlecase}}</option>
            <option value={{PRODUCTS_TYPE.tablet}}>{{PRODUCTS_TYPE.tablet | titlecase}}</option>
            <option value={{PRODUCTS_TYPE.laptop}}>{{PRODUCTS_TYPE.laptop | titlecase}}</option>
        </select>
        <div *ngIf="
            type.touched && 
            type.invalid" 
            class="validation">
                <small *ngIf="type.errors.required">Choose product type</small>
        </div>
    </div>
    <div class="form-control">
        <label for="title">Title</label>
        <input 
            id="title" 
            type="title" 
            FormControl="title" 
            formControlName="title"
        >
        <div *ngIf="
            title.touched && 
            title.invalid" 
            class="validation">
                <small *ngIf="title.errors.required">Choose product type</small>
        </div>
    </div>
    <div class="form-control">
        <label for="photo">Photo</label>
        <quill-editor formControlName="photo"></quill-editor>
    </div>
    <div class="form-control">
        <label for="photo">Info</label>
        <quill-editor formControlName="info"></quill-editor>
    </div>
    <div class="form-control">
        <label for="price">Price</label>
        <input 
            id="price" 
            type="price" 
            FormControl="price" 
            formControlName="price"
        >
        <div *ngIf="
            price.touched && 
            price.invalid" 
            class="validation">
                <small *ngIf="price.errors.required">Enter product price</small>
        </div>
    </div>
    <button 
        type="submit" 
        class="btn btn-primary btn-block"
        [disabled]="form.invalid || submitted">
        Add Product
    </button>
</form>